@* ITM.Dashboard.Web/Components/App.razor *@

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="ITM.Dashboard.Web.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />

    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Dark.js"></script>

    <HeadOutlet @rendermode="InteractiveWebAssembly" />
</head>

<body>
    <Routes @rendermode="RenderMode.InteractiveWebAssembly" />
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_framework/blazor.web.js"></script>

    @* ▼▼▼ 분리된 모든 차트 모듈 스크립트 ▼▼▼ *@
    <script src="js/chart-modules/performance-line-chart.js"></script>
    <script src="js/chart-modules/pre-align-analytics-chart.js"></script>
    <script src="js/chart-modules/error-trend-column-chart.js"></script>
    <script src="js/chart-modules/error-by-eqp-pie-chart.js"></script>
    <script src="js/chart-modules/performance-dialog-chart.js"></script> @*// [추가] 이 줄을 추가해주세요.*@

    <script src="js/amcharts-interop.js"></script>
    @* ▼▼▼ [4/4] 이 스크립트 블록을 여기에 추가해주세요. ▼▼▼ *@
    <script>
        window.formatApexChartTooltip = (chartId) => {
            var options = {
                tooltip: {
                    y: {
                        formatter: function (val) {
                            if (typeof val === 'number') {
                                return val.toFixed(2);
                            }
                            return val;
                        }
                    }
                }
            };

            // MudBlazor가 사용하는 ApexCharts 라이브러리의 전역 객체를 사용하여 옵션을 업데이트합니다.
            if (window.ApexCharts) {
                ApexCharts.exec(chartId, 'updateOptions', options);
            }
        };
    </script>
</body>

</html>
